.mail {
  color: var(--blue);
}
.mail span {
  cursor: pointer;
  color: var(--gris);
  position: relative;
}
.mail span i {
  transition: 0.1s;
  transform: translateY(1px);
  opacity: 0;
  padding: 0.5rem;
  user-select: none;
}
.mail span i#copy {
  opacity: 1;
}
.mail span .badge {
  position: absolute;
  top: -150%;
  left: -50%;
  font-size: 0.75rem;
  background: var(--gris);
  padding: 0.15rem 0.3rem;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  color: var(--white);
  z-index: 3;
}
.mail span .badge::before {
  content: "";
  position: absolute;
  background: var(--gris);
  height: 0.5rem;
  width: 0.5rem;
  bottom: -0.25rem;
  left: 65%;
  transform: rotate(45deg);
  z-index: 2;
}
