.toastContainer {
  width: 100%;
  position: relative;
  max-width: 100%;
}
.container {
  position: fixed;
  top: 0;
  width: 20rem;
  left: calc(50% - 10rem);
  color: bar(--black-input);
  z-index: 15;
  padding: 1rem;
  background: var(--linear-gradient);
  border-radius: 1rem;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow-btn);
  transform: translateY(-100%);
  animation: anim 0.5s forwards;
}
@keyframes anim {
  100% {
    transform: translateY(50%);
  }
}
/* 
{
  --max-lines: 3;
  --line-height: 1.2;
  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  position: relative;
  overflow: hidden;
}
.container::before {
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bot, transparent, white);
}
*/
